Makefile
Makefile.*
Makefile_*.mk
debug
release
bin
*~
*.o
*.moc
*.app
*.pdb
*.bak
*.rej
*.exe
*.orig
*.user
*.user.*
*.sln
*.suo
*.sdf
*.opensdf
*.vcproj
*.vcxproj
*.filters
/ipch
Thumbs.db
*.xcodeproj
.DS_Store
.qmake.cache
.qmake.stash
.make.cache
.tmp
*.Debug
*.Release
moc_*.cpp
/lib/
/plugins/
