[submodule "src/3rdparty/qtsystemnotifier"]
	path = src/3rdparty/qtsystemnotifier
	url = git://github.com/jpnurmi/qtsystemnofitier.git
[submodule "src/3rdparty/libcommuni"]
	path = src/3rdparty/libcommuni
	url = git://github.com/communi/libcommuni.git
