Source: communi
Section: user/network
Priority: extra
Maintainer: J-P Nurmi <jpnurmi@gmail.com>
Build-Depends: debhelper (>= 5), libqt4-dev
Standards-Version: 3.7.2

Package: communi
XB-Maemo-Display-Name: Communi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Communi IRC client
 Communi is a simple and light-weight cross-platform IRC client.
