a { color: #4040ff; }
.timestamp { color: #808080; font-size: small }

.message { white-space: pre-wrap; }
.notice { color: #a54242; }
.action { color: #8b388b; }
.event { color: #808080; }

.bold { font-weight: bold; }
.italic { font-style: italic; }
.underline { text-decoration: underline; }
.line-through { text-decoration: line-through; }

.gray { color: #606060; }
.lightgray { color: #808080; }

/* http://ethanschoonover.com/solarized */
.blue { color: #268bd2; }
.green { color: #859900;}
.red { color: #dc322f;}
.brown { color: #cb4b16;}
.purple { color: #6c71c4;}
.orange { color: #cb4b16;}
.yellow { color: #b58900;}
.lightgreen { color: #859900;}
.cyan { color: #2aa198;}
.lightcyan { color: #2aa198;}
.lightblue { color: #268bd2;}
.pink { color: #6c71c4;}

TextInput, TextBrowser {
    border: none;
    color: #000000;
    background: #ffffff;
}

TextInput {
    border-top: 1px solid palette(mid);
}

TreeWidget, ListView {
    border: none;
    background: palette(alternate-base);
    selection-background-color: palette(highlight);
}

TreeWidget::item, ListView::item {
    min-height: 20px;
}

TitleBar > QTextEdit {
    border-bottom: 1px solid palette(mid);
}

TextLowlight {
    border: 1px solid #ccc;
    background-color: #f6f6f6;
}

TextHighlight {
    border: 1px solid #ccc;
    background-color: rgba(224,32,32,48);
}

TextShadow {
    max-height: 2px;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 palette(shadow), stop: 1 transparent);
}

TreeSpinner {
    border: none;
    background: transparent;
    min-width: 16px;
    max-width: 16px;
    min-height: 16px;
    max-height: 16px;
    background-image: url(gray:spinner.png);
}

TreeIndicator {
    min-width: 6px;
    max-width: 6px;
    min-height: 6px;
    max-height: 6px;
    border-radius: 2px;
    border: 1px solid palette(mid);
}

TreeIndicator:off {
    background: palette(button);
}

TreeIndicator:on {
    background: #ff8888;
    border-color: #ff8888;
}

TreeBadge {
    color: #ffffff;
    margin: 3px;
    font-size: 9px;
    border-radius: 5px;
    background: #c6c6c6;
}

TreeBadge:on {
    color: #ffffff;
    background: #ff8080;
}

TreeHeader {
    min-height: 20px;
}

TreeHeader::section:on, TreeWidget::item:on {
    color: #ff4040;
}

TreeHeader::section:off, TreeWidget::item:off, ListView::item:off {
    color: palette(dark);
}

QSplitter::handle {
    width: 1px;
    height: 1px;
    background: palette(mid);
}

QToolButton {
    border: 1px solid palette(mid);
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 palette(light), stop: 1 palette(button));
}

QToolButton:pressed {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 palette(dark), stop: 1 palette(light));
}

QToolButton::menu-indicator {
    image: none;
}

TitleBar {
    min-height: 20px;
}

QToolButton#menu {
    min-width: 20px;
    max-width: 20px;
    min-height: 20px;
    max-height: 20px;
    border-color: transparent;
    background-color: transparent;
    image: url(gray:menu.png);
}

QToolButton#menu:hover {
    border-left-color: palette(mid);
    border-bottom-color: palette(mid);
}

QToolButton#menu:pressed {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 palette(dark), stop: 1 palette(light));
}

Overlay {
    background: rgba(228, 228, 228, 40%)
}

OverlayButton {
    border: none;
    background: transparent;
    min-width: 48px;
    max-width: 48px;
    min-height: 48px;
    max-height: 48px;
    image: url(gray:refresh.png);
}

OverlayButton:pressed {
    border: none;
    background: transparent;
    image: url(black:refresh.png);
}

OverlayButton:flat {
    image: url(gray:pause.png);
}

OverlayButton:flat:pressed {
    image: url(black:pause.png);
}

AbstractFinder > QToolButton {
    min-width: 20px;
    max-width: 20px;
    min-height: 20px;
    max-height: 20px;
}

AbstractFinder > QLineEdit {
    border: 1px solid palette(mid);
    border-bottom-color: transparent;
}

AbstractFinder[error="true"] > QLineEdit {
    background-color: #ff8080;
}

AbstractFinder > QToolButton {
    border-left-color: transparent;
}

AbstractFinder > QToolButton#prev {
    image: url(black:up.png);
}

AbstractFinder[error="true"] > QToolButton#prev {
    image: url(gray:up.png);
    background-color: palette(button);
}

AbstractFinder > QToolButton#next {
    image: url(black:down.png);
}

AbstractFinder[error="true"] > QToolButton#next {
    image: url(gray:down.png);
    background-color: palette(button);
}

ConnectPage QPlainTextEdit[error="true"] {
    background-color: #ff8080;
}
