a { color: #005fff; }
.timestamp { color: #808080; font-size: small }

.message { white-space: pre-wrap; }
.notice { color: #b23e3e; }
.action { color: #b232b2; }
.event { color: #808080; }

.bold { font-weight: bold; }
.italic { font-style: italic; }
.underline { text-decoration: underline; }
.line-through { text-decoration: line-through; }

.gray { color: #606060; }
.lightgray { color: #808080; }

/* http://ethanschoonover.com/solarized */
.blue { color: #268bd2; }
.green { color: #859900;}
.red { color: #dc322f;}
.brown { color: #cb4b16;}
.purple { color: #6c71c4;}
.orange { color: #cb4b16;}
.yellow { color: #b58900;}
.lightgreen { color: #859900;}
.cyan { color: #2aa198;}
.lightcyan { color: #2aa198;}
.lightblue { color: #268bd2;}
.pink { color: #6c71c4;}

TextBrowser, TextInput {
    border: none;
    color: #eeeeec;
    background: #333333;
    selection-color: #eeeeec;
    selection-background-color: #3465a4;
}

SplitView {
    background: #24282a;
}

TextInput {
    background: #363939;
    border-top: 1px solid #24282a;
}

TreeWidget, ListView {
    border: none;
    background: #363939;
    selection-background-color: #3465a4;
}

TreeWidget::item {
    color: #eeeeec;
    height: 20px;
}

ListView::item {
    color: #eeeeec;
    height: 20px;
}

TreeWidget::item:off, TreeHeader::section:off, ListView:off {
    color: #929390;
}

TreeWidget::item:selected, TreeWidget::item:selected:hover {
    color: #eeeeec;
    background-color: #3465a4;
}

ListView::item:selected, ListView::item:selected:hover {
    color: #eeeeec;
    background-color: #3465a4;
}

TreeWidget::item:!selected:hover, ListView::item:!selected:hover {
    background-color: transparent;
}

TreeHeader::section, TitleBar::section {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 #414848, stop: 1 #343535);
    color: #eeeeec;
    border: 4px solid transparent;
    border-bottom: 1px solid #24282a;
}

TextLowlight {
    border: 1px solid #545959;
    background-color: #353838;
}

TextHighlight {
    border: 1px solid #3465a4;
    background-color: rgba(52,101,164,52);
}

TextShadow {
    max-height: 5px;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 #222222, stop: 1 transparent);
}

TreeSpinner {
    border: none;
    background: transparent;
    min-width: 16px;
    max-width: 16px;
    min-height: 16px;
    max-height: 16px;
    background-image: url(white:spinner.png);
}

TreeIndicator {
    min-width: 6px;
    max-width: 6px;
    min-height: 6px;
    max-height: 6px;
    border-radius: 2px;
    border: 1px solid #828380;
}

TreeIndicator:off {
    background: #5d5e5b;
}

TreeIndicator:on {
    background: #3e83db;
    border-color: #3e83db;
}

TreeBadge {
    color: #eeeeec;
    margin: 3px;
    font-size: 9px;
    border-radius: 5px;
    background: #414848;
}

TreeBadge:on {
    color: #eeeeec;
    background: #3465a4;
}

TreeHeader {
    min-height: 20px;
}

TreeHeader::section:on {
    color: #3465a4;
}

TreeWidget::item:on {
    color: #3e83db;
}

TitleBar > QTextEdit {
    border-bottom: 1px solid #24282a;
}

QSplitter::handle {
    width: 1px;
    height: 1px;
    background: #24282a;
}

QToolButton {
    border: 1px solid #24282a;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 #414848, stop: 1 #343535);
}

QToolButton:pressed {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 #343535, stop: 1 #414848);
}

QToolButton::menu-indicator {
    image: none;
}

TitleBar {
    color: #eeeeec;
    min-height: 20px;
}

TitleBar > QTextEdit {
    color: #eeeeec;
    background: #363939;
    selection-color: #eeeeec;
    selection-background-color: #3465a4;
    border: 1px solid #24282a;
    border-bottom-color: transparent;
}

QToolButton#menu {
    min-width: 20px;
    max-width: 20px;
    min-height: 20px;
    max-height: 20px;
    border-color: transparent;
    background-color: transparent;
    image: url(white:menu.png);
}

QToolButton#menu:hover {
    border-left-color: #24282a;
    border-bottom-color: #24282a;
}

QToolButton#menu:pressed {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 #343535, stop: 1 #414848);
}

QMenu {
    color: #eeeeec;
    background: #555753;
}

QMenu::item:selected:!disabled {
    background: #3465a4;
}

QMenu::item:disabled {
    color: #929390;
}

QMenu::separator {
    height: 1px;
    margin: 4px;
    background: #5d5e5b;
}

Overlay {
    background: rgba(96,96,96,40%)
}

OverlayButton {
    border: none;
    background: transparent;
    min-width: 48px;
    max-width: 48px;
    min-height: 48px;
    max-height: 48px;
    image: url(white:refresh.png);
}

OverlayButton:pressed {
    border: none;
    background: transparent;
    image: url(gray:refresh.png);
}

OverlayButton:flat {
    image: url(white:pause.png);
}

OverlayButton:flat:pressed {
    image: url(gray:pause.png);
}

AbstractFinder > QToolButton {
    min-width: 20px;
    max-width: 20px;
    min-height: 20px;
    max-height: 20px;
}

AbstractFinder > QLineEdit {
    color: #eeeeec;
    background: #363939;
    selection-color: #eeeeec;
    selection-background-color: #3465a4;
    border: 1px solid #24282a;
    border-bottom-color: transparent;
}

AbstractFinder[error="true"] > QLineEdit {
    background-color: #bb4444;
}

AbstractFinder > QToolButton {
    border-left-color: transparent;
}

AbstractFinder > QToolButton#prev {
    image: url(white:up.png)
}

AbstractFinder[error="true"] > QToolButton#prev {
    image: url(gray:up.png);
    background-color: #363939;
}

AbstractFinder > QToolButton#next {
    image: url(white:down.png)
}

AbstractFinder[error="true"] > QToolButton#next {
    image: url(gray:down.png);
    background-color: #363939;
}

ConnectPage QPlainTextEdit[error="true"] {
    background-color: #ff8080;
}
