[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Communi
Categories=Network
Exec=/usr/bin/communi
Icon=communi
X-Window-Icon=communi
X-Osso-Type=application/x-executable
